<% provide(:title, 'About') %>

<div class="row">
  <div class="container">
  <div class="info-page col-md-6">
    <h1><strong>About</strong></h1>
    <h2>
      This web application serves as an online platform for music practitioners.
      Tutors create and upload online video courses for students,
      complete with a bevy of supplementary resources ranging from PDFs to audio files.
      Students, having bought those courses, can then embark on the pursuit of studying music from the comfort of their own home,
      all while avoiding the monetary stress of long-time commitments.
      This makes The Music Academy the perfect platform for hobbyists and enthusiasts alike.
    </h2>
  </div>
</div>
</div>