<% provide(:title, 'Contact') %>

<div class="row">
  <div class="container">
    <div class="info-page col-md-6">
      <h1><strong>Contact</strong></h1>
      <h2>
        No contact details currently exist. Please stand by.
      </h2>
    </div>
  </div>
</div>
