<% provide(:title, 'Home') %>
<div class="row my-bg p-0 m-0">
  <div class="col text-light">
    <h1><strong>Welcome to</strong></h1>
    <h1><strong>The Music Academy</strong></h1>
  </div>
</div>
  <h2>
    <%= link_to "Browse through all courses now!", courses_path %>
  </h2>

