<% provide(:title, "Log In") %>
<% provide(:select_header, "Log in as a...") %>

<% if params[:controller].eql?('tutors') %>
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student" aria-selected="true">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="false">Tutor</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show" id="student" role="tabpanel" aria-labelledby="student-tab">
          <div class="row justify-content-center mt-3">
            <h3>Student Login</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <%= render 'form', user_type: 'Student' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show active" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
          <div class="row justify-content-center mt-3">
            <h3>Tutor Login</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <%= render 'form', user_type: 'Tutor' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item ">
          <a class="nav-link active" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student" aria-selected="true">Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tutor-tab" data-toggle="tab" href="#tutor" role="tab" aria-controls="tutor" aria-selected="false">Tutor</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">
          <div class="row justify-content-center mt-3">
            <h3>Student Login</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <%= render 'form', user_type: 'Student' %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
          <div class="row justify-content-center mt-3">
            <h3>Tutor Login</h3>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <%= render 'form', user_type: 'Tutor' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
