<% provide(:title, "Log in") %>
<% provide(:type, Student.name) %>
<% provide(:url_path, student_login_path) %>
<% provide(:signup_path, student_signup_path) %>

<h1> Student Log In</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= render 'login_form' %>
  </div>
</div>
