<% provide(:title, "Log in") %>
<% provide(:type, Tutor.name) %>
<% provide(:url_path, tutor_login_path) %>
<% provide(:signup_path, tutor_signup_path) %>

<h1> Tutor Log In</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'login_form' %>
  </div>
</div>
