<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort By
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><%= link_to "Newest", student_path(@student, sort_by: :newest, anchor: 'courses-tab'), class: 'dropdown-item' %></li>
    <li><%= link_to "Oldest", student_path(@student, sort_by: :oldest, anchor: 'courses-tab'), class: 'dropdown-item' %></li>
  </div>
</div>
