<% provide(:title, @title) %>

<h1><strong><%= @title %></strong></h1>

<% if @courses.any? %>
  <div class="row">
    <%= render @courses %>
  </div>
  <%= will_paginate @courses, class: 'pagination' %>
<% else %>
  <h3 class="courses-index-none">
    <strong>No courses found...</strong>
  </h3>
<% end %>
