<% provide(:title, "Students") %>
<h1><%= @title %></h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Student</th>
  </tr>
  </thead>
  <tbody>
    <%= render @students %>
  </tbody>
</table>

<%= will_paginate @students, class: 'pagination' %>
