<div class="tutors-collection row">
  <div class="col">

    <h3 class="heading text-left">
      <%= heading %>
    </h3>

    <div class="collection row">
      <%= render tutors %>
    </div>

  </div>
</div>
