<div class="dropdown sort" align="right">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort By
  </button>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
    <%= link_to "Popularity", tutors_path(sort_by: :most_popular,  search: params[:search], anchor: 'tutors'), class: 'dropdown-item' %>
    <%= link_to "Students",   tutors_path(sort_by: :most_students, search: params[:search], anchor: 'tutors'), class: 'dropdown-item' %>
    <%= link_to "Courses",    tutors_path(sort_by: :most_courses,  search: params[:search], anchor: 'tutors'), class: 'dropdown-item' %>
    <%= link_to "Name",       tutors_path(sort_by: :by_name,       search: params[:search], anchor: 'tutors'), class: 'dropdown-item' %>
  </div>
</div>
