<li>
  <%= link_to tutor.name, tutor %>
  <% if current_user.admin? && !current_user?(tutor) %>
    | <%= link_to "delete", tutor, method: :delete,
                  data: { confirm: "You sure?" } %>
  <% end %>
</li>