<% provide(:title, 'Settings') %>
<% provide(:label_prefix, 'New ') %>
<% provide(:button_text, 'Save Changes') %>

<h1>Account Settings</h1>
<div class="row">
  <div class="col-md-6 mx-auto">
    <%= render 'shared/user_form', user: @tutor, url_path: tutor_path(@tutor) %>
  </div>
</div>
