<% provide(:title, 'Tutors') %>


  <h1><%= @title %></h1>
  <div class="row">
    <div class="row">
      <%= render @tutors %>
    </div>
  </div>

<div class="row">
  <div class="col-auto" style="margin-left: 40%;">
    <%= will_paginate @tutors, class: "pagination" %>
  </div>
</div>
