<% provide(:title, 'Sign Up') %>
<% provide(:label_prefix, '') %>
<% provide(:url_path, tutor_signup_path) %>
<% provide(:login_path, tutor_login_path) %>

<h1>Tutor Sign Up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/user_form', user: @tutor %>
  </div>
</div>
