<% provide(:title, 'Sign Up') %>
<% provide(:label_prefix, '') %>
<% provide(:button_text, 'Create Account') %>

<h1>Sign Up: Tutor</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/user_form', user: @tutor, url_path: tutor_signup_path %>
  </div>
</div>
