<% provide(:title, "Courses") %>
<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Title</th>
  </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to "#{course.title}", course_path(course) %></td>
      <% if course.image.attached? %>
          <td><%= image_tag course.image.variant(resize: "100x100") %></td>
      <% else %>
          <td></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>