<% if tutor? && current_user?(@tutor) %>
  <% title_header = "My Students" %>
<% else %>
  <% title_header = "#{@tutor.name}'s Students" %>
<% end %>

<% provide(:title, "#{title_header}") %>
<h1><%= title_header %></h1>


<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Student</th>
  </tr>
  </thead>
  <tbody>
    <%= render @students %>
  </tbody>
</table>

<%= will_paginate @students, class: 'pagination' %>
