<div class="dropdown-item">

  <% if notification.read %>
    <%= image_tag "read.png" %>
  <% else %>
    <%= image_tag "unread.png" %>
  <% end %>

  <small>
    <% content = notification.content.length > 40 ? notification.content[0..40]... : notification.content %>
    <%= 
      link_to content,
        course_path(notification.lesson.course, 
                    lesson_page: notification.lesson.position, 
                    notified_id: notification.id,
                    anchor: "forum"),
        class: 'btn btn-sm' %>
</small>

<%= 
  link_to image_tag("x.png"), 
    notification_path(notification, 
                      notification_id: notification.id),
                      method: :delete %>

</div>
