<% provide(:title, "Unsubscribe") %>

<h1 class="center">Are you sure you want to unsubscribe from this course?</h2>
<h2>You will not be refunded, and will have to re-purchase this course in the future!</h3>

<section class="center">
  <%=
    link_to "Yes, I want to unsubscribe.",
      unsubscribe_path(course_id: @course.id),
      method: :delete,
      class: "btn btn-primary btn-lg btn-agree"
    %>
  <%=
    link_to "No, I've changed my mind.",
      @course,
      class: "btn btn-primary btn-lg btn-disagree"
    %>
</section>
