<% if @course.lessons.any? %>

  <!--Display a sortable (by drag and drop) list of links to the lessons-->

  <div id="lessons" class="list-group lessons-list" data-url="<%= sort_lessons_path %>">
    <% @course.lessons.reorder(:position).each do |lesson| %>
      <%=
        link_to lesson.name,
          edit_lesson_path(lesson.name, 
                           lesson_id: lesson.id, 
                           edit_from: "_list"),
          class: "list-group-item",
          id: dom_id(lesson)
          %>
    <% end %>
  </div>

  <%= 
    link_to "+ Add a Lesson", 
      new_lesson_path(course_id: @course.id), 
      class: 'btn btn-primary btn-lesson-add' 
    %>

<% else %>

  <!--No Lessons currently exist-->

  <section class="">
  <h3><b>This course currently has no lessons.</b></h3>
  <%= 
    link_to "Begin by Adding a Lesson", 
      new_lesson_path(course_id: @course.id), 
      class: 'btn btn-primary btn-lesson-add' 
    %>
  </section>

<% end %>
