<ul class="list-group height-80 border border-secondary border-right-0 list-group-flush">
  <% @lessons.each do |lesson| %>

    <% if params[:lesson_page] && params[:lesson_page].to_i.eql?(lesson.position) %>
      <li class="list-group-item list-group-item-secondary">
        <%= link_to lesson.name, course_path(@course, lesson_page: lesson.position), remote: true, class: 'nav-link text-dark lesson-link lesson-selected' %>
      </li>

    <% else %>
      <li class="list-group-item">
        <%= link_to lesson.name, course_path(@course, lesson_page: lesson.position), remote: true, class: 'nav-link text-dark lesson-link' %>
      </li>
      <% end %>

    <% end %>
</ul>
