<% provide(:title, "Edit Lesson") %>
<% provide(:url_path, lesson_path(@lesson)) %>
<% provide(:submit_text, "Save Changes to Lesson") %>

<div class="row">
  <div class="col-md-6 mx-auto">
    <h3>
      <%= @course.title %><br>
    </h3>
    <h1>
      <strong><%= @lesson.name %></strong>
    </h1>
    <%= render 'lesson_form' %>
  </div>
</div>
