<% provide(:title, "New Lesson") %>
<% provide(:url_path, lessons_path(@lesson)) %>
<% provide(:submit_text, "Publish Lesson") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3 class="lesson-new-header">
      <strong class="course-title"><%= @course.title %></strong><br>
      New Lesson
    </h3>
    <%= render 'lesson_form' %>
  </div>
</div>
