<div class="courses-collection row">
  <div class="col">

    <h3 class="heading text-left">
      <%= heading %>
    </h3>

    <div class="collection row">
      <% if courses.any? %>
        <%= render courses %>
      <% end %>
    </div>

  </div>
</div>
