<% if @course.lessons.any? %>

  <!--Lessons exist-->

  <!--Scroll Index-->
  <div class="scrollmenu pull-left">
    <%= render 'lessons/list' %>
  </div>

  <ol class="lessons">
    <%= render @lessons.reorder(:position) %>
  </ol>
  <%= will_paginate @lessons %>

<% elsif !@course.lessons.any? %>

  <!--No Lessons currently exist-->

  <div class="center jumbotron">
    <h3><b>This course currently has no lessons.</b></h3>
  </div>

<% end %>
