<% if @lessons.any? %>

  <!--Lessons exist-->

  <ol class="lessons col-md-9">
    <%= render 'lessons/lesson' %>
  </ol>

<% else %>

  <!--No Lessons currently exist-->

  <div class="center jumbotron">
    <h3><b>This course currently has no lessons.</b></h3>
  </div>

<% end %>
