<% student_and_subscribed = student? && current_user.subscribing?(@course) %>
<% tutor_and_course_is_mine = tutor? && current_user?(@course.tutor) %>

<% if @course.lessons.any? && (student_and_subscribed || tutor_and_course_is_mine) %>

  <!--Lessons exist, and either current user is a subscribed student, or is the owner of the course-->

  <% if student_and_subscribed %>
    <% find_subscription(current_user, @course).update_left_off(params[:page]) %>
  <% end %>

  <ol class="lessons">
    <%= render @lessons %>
  </ol>
  <%= will_paginate @lessons %>

  <% if tutor_and_course_is_mine %>
    <%= 
      link_to "Add a Lesson to this Course", 
        new_lesson_path(course_id: @course.id), 
        class: 'btn btn-primary btn-lesson-add pull-right' 
      %>
  <% end %>

<% elsif !@course.lessons.any? %>

  <!--No Lessons currently exist-->

  <section class="center">
  <h3><b>This course currently has no lessons.</b></h3>
  <% if tutor_and_course_is_mine %>
    <%= 
      link_to "Begin by Adding a Lesson", 
        new_lesson_path(course_id: @course.id), 
        class: 'btn btn-primary btn-lesson-add' 
      %>
  <% end %>
  </section>

<% end %>
