<% if subscribing?(course) %>
    <div class="col-md-6 d-flex justify-content-center">
      <!-- Unsubscribe Button -->
      <%=
        link_to "Quit",
                unsubscribe_path(course_id: course.id),
                class: "btn btn-danger btn-block"
      %>
    </div>
  <% else %>

    <!-- Subscribe Button -->
    <% if course.price.nil? %>
      <%=
        link_to "Enroll for free!",
                subscribe_path(course_id: course.id),
                class: "btn btn-primary btn-sm btn-agree"
      %>
    <% else %>
      <%=
        link_to "Enroll for #{number_to_currency(course.price)}!",
                subscribe_path(course_id: course.id),
                class: "btn btn-primary btn-sm btn-agree"
      %>
    <% end %>
  <% end %>