<div id="subscribe_form">
  <% if subscribing?(course) %>

    <!-- Unsubscribe Button -->
    <%= 
      link_to "Quit", 
        unsubscribe_path(course_id: course.id), 
        class: "btn btn-default btn-disagree" 
      %>

  <% else %>

    <!-- Subscribe Button -->
    <%= 
      link_to "Enroll for #{number_to_currency(course.price)}!", 
        subscribe_path(course_id: course.id), 
        class: "btn btn-primary btn-lg btn-agree" 
      %>

  <% end %>
</div>
