<% provide(:title, "Delete Course") %>

<div class="container">
  <div class="row center delete_course">

    <h1 class="warning-one"><b>Are you sure you want to delete this course?</b></h1>
    <h3 class="warning-two">
      All your lessons and students for this course will be lost.<br>
      <b>This action is irreversible.</b>
    </h3>

    <section class="course-info">
      <h2><strong>Course: <%= @course.title %></strong></h2>
    </section>

    <section class="center buttons-delete">
      <%= 
        link_to "Yes, delete this course.", 
          courses_delete_path(course_id: @course.id), 
          method: :delete, 
          class: 'btn btn-primary btn-agree' 
        %>
      <%= 
        link_to "No, I've changed my mind.", 
          edit_course_path(@course, course_id: @course.id), 
          class: 'btn btn-default btn-disagree' 
        %>
  </section>

  </div>
</div>
