<% provide(:title, "Edit Course") %>
<% provide(:url_path, course_path(@course, course_id: @course.id)) %>
<% provide(:button_text, "Save Changes") %>

<div class="row">
  <div class="col-md-6 mx-auto">
    <h3>Editing Course:</h3>
    <h1><strong><%= @course.title %></strong></h1>
    <%= render 'course_form' %>
  </div>
</div>
