<% provide(:title, @course.title) %>

<div class="col">

  <div class="row lesson_info">
    <%= render 'show_lesson' %>
  </div>

  <div class="row course_info">
    <%= render 'show_course' %>
  </div>

</div>
