/*
 *= require easy-autocomplete
 *= require easy-autocomplete.themes
 *= require_tree
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default;
$state-danger-text: #a94442 !default;


/* universal */

html,body
{
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  /* overflow-x: hidden; */
}

.home {
  padding: 0 !important;
}

.not-home {
  padding: 50px 0px 0px 0px !important;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.8em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: #343a40;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -0.75px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 2em;
  letter-spacing: -1.5px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
  color: $gray;
  line-height: 1.2;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.text-small {
  font-size: 0.7em;
}

.height-80 {
  height: 560px;
  overflow: scroll;
}

/* header */

#logo {
  float: left;
  margin-right: 30px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.info-page {
  h1, h2 {
    text-align: left;
  }
  h2 {
    line-height: 1.75;
    letter-spacing: -0.5px;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* gravatar */

.gravatar_profile {
  .gravatar {
    margin-top: 10px;
  }
}

.gravatar_edit {
  margin-bottom: 15px;
}

.stats {
  overflow: auto;
  a {
    color: black;
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.remember_me {
  #session_remember_me {
    width: auto;
    margin-left: 0;
    margin-top: 7px;
  }
  label {
    font-weight: normal;
  }
}

/* user profile */

.user_profile {
  margin-bottom: 10px;
  .tutor-profile, .student-profile {
    h2 {
      color: $gray;
    }
    .tutor-gravatar, .student-gravatar {
      img {
        margin-bottom: 5px;
      }
    }
  }
}

.user_courses {
  .sort .dropdown {
    float: right;
  }
}

/* course info */

.btn-course-new {
  margin-bottom: 15px;
}

.course-card {
  .badges {
    margin: 5px 0px -15px 15px;
    .badge {
      margin-bottom: 5px;
    }
  }
  .title, .tutor, .price, .rating, .students {
    display: block;
  }
  .title {
    margin-top: 0px;
    a {
      color: $gray-dark;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .price {
    margin: 10px 0px 0px 0px;
  }
  .rating {
    margin-top: -2px;
    margin-bottom: 5px;
  }
}

.course-index {
  .course-index-title, .course-index-none {
    text-align: left;
  }
  .course-index-title {
    font-size: 4em;
  }
  .search-term {
    font-size: 0.8em;
    color: $gray;
  }
}

.show_course {
  .enroll-quit {
    margin-bottom: 30px;
  }
  .report-button {
    margin-bottom: 20px;
  }
  .tutor {
    margin-bottom: 30px;
    .tutor-header {
      margin-top: 15px;
      margin-bottom: 20px;
    }
    .tutor-stats {
      .tutor-gravatar {
        img {
          padding-bottom: 5px;
        }
      }
      .tutor-rating, .tutor-students, .tutor-courses {
        display: block;
        margin-top: 5px;
        img {
          margin-top: -5px;
        }
      }
    }
    .tutor-name {
      margin-bottom: 10px;
      a {
        text-decoration: none;
        color: $gray;
      }
    }
  }
}

.new_course {
  .image {
    margin-top: 15px;
  }
  .btn-back {
    margin-top: 10px;
  }
}

.edit_course {
  h3, h2 {
    color: $gray-dark;
  }
  .image {
    margin: 10px 0px;
  }
  .tags-explanation {
    font-size: 1.05em;
    color: $gray-light;
    margin-bottom: 10px;
  }
  .btn-submit {
    padding-top: 10px;
  }
  .lessons-header {
    margin-top: 10px;
    h3, h2 {
      text-align: left;
    }
  }
  .lessons-list {
    h3 {
      font-size: 1.3em;
      text-align: left;
      margin-top: 0px;
    }
    margin-bottom: 10px;
  }
  .course-delete {
    margin: 30px 0px 15px 0px;
    h3, h2 {
      text-align: left;
    }
    .btn-course-delete {
      margin: 20px 0px;
    }
  }
}

/* lesson info */

.lesson-new-header {
  padding-top: 20px;
  margin: 20px;
}

.lesson {
  .lessons {
    margin-bottom: 20px;
    .video-none, .video-block {
      margin-top: 30%;
    }
  }
  .info {
    .name {
      font-size: 2em;
    }
  }
}

.new_lesson, .edit_lesson {
  .btn-back {
    margin: 10px 0px;
  }
  .video {
    margin-bottom: 15px;
    background-color: black;
  }
  .video-delete {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
    a {
      color: $gray;
    }
  }
  .lesson-delete {
    h3, h2 {
      text-align: left;
      color: $gray-dark;
    }
    h2 {
      margin-bottom: 20px;
    }
  }
}

/* pagination */

.pagination {
  /* background: #f1f1f1; */
  /* border: 1px solid #e5e5e5; */
  text-align: center;
  padding: 1em;
  cursor: default;

  .disabled {
    color: #aaaaaa;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }

  a {
    text-decoration: none;
    color: black;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }

}

/* home page */
.my-bg {
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
  image-url('music_bg.jpeg') center no-repeat;
  height: 100vh;
  background-size: cover;
}

#my-nav {
  background: transparent !important;
}

/* card */
.card-footer {
  height: 8vh;
  padding: 15px;
  text-align: inherit;
}

.card-text {
  height: 30px;
  font-size: 0.8em;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/* reviews */

.reviews-section {

  display: block;

  .reviews {

    .review-form {
      border-top-style: none;
      textarea, button {
        margin: 10px 0px;
      }
    }

    .sort {
      margin: 10px 0px;
    }

    list-style: none;

    #current_user_review li {
      border-top: 1px solid $gray-lighter;
      border-top-style: solid;
      border-bottom: 1px solid $gray-lighter;
      border-bottom-style: solid;
      div {
        margin: 5px;
      }
    }

    li {
      padding: 10px 0px;
      border-top: 1px solid $gray-lighter;
    }
    .student {
      margin-top: 5px;
      .gravatar, .name {
        display: block;
      }
    }
    .review {
      margin-top: 5px;
      .rating, .content, .timestamp {
        display: block;
      }
      .timestamp, .report {
        color: $gray-light;
      }
      .edit a {
        text-decoration: none;
        color: $gray;
        font-style: italic;
        &:hover {
          color: black;
          text-decoration: underline;
        }
      }
    }
  }

}


/* direct_uploads.css */

.direct-upload {
  display: block;
  position: relative;
  padding: 4px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 14px;
  font-color: $gray;
  line-height: 13px;
}

.direct-upload--pending {
  opacity: 0.6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity
  60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete
.direct-upload__progress {
  opacity: 0.4;
}

.direct-upload--error {
  border-color: red;
}

input[type=file][data-direct-upload-url][disabled]
{
  display: none;
}

/* notifications */

.notifications {
  .clear {
    margin: 10px;
    a {
      color: $gray;
      &:hover, &:focus {
        color: $gray-darker;
      }
    }
  }
  ol {
    list-style: none;

    li {
      border-bottom: 1px solid $gray-lighter;
      padding: 10px 20px;
      .read {
        a {
          color: $gray-light;
          &:hover, &:focus {
            color: $gray-dark;
          }
        }
      }
      .unread {
        a {
          color: $gray-dark;
          &:hover, &:focus {
            color: black;
          }
        }
      }
      a {
        margin: 10px;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }

  }
}

/* posts & messages */

.post, .message {
  .post-gravatar, .message-gravatar {
    margin-top: 7px;
  }
  .post-sender, .message-sender {
    padding: 0;
    margin-bottom: -2px;
    font-weight: bold;
    color: $gray;
  }
  .post-content, .message-content {
    padding: 0;
  }
  .post-options, .message-options {
    padding: 0;
    margin-top: -5px;
    a {
      color: $gray;
    }
  }
  .post-new, .message-new {
    margin-right: 5px;
    padding: 0;
  }
}

/* tags */

.tags {
  margin-top: 10px;
  margin-bottom: 30px;
  .tags-header {
    color: $gray;
  }
  .tag {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

/* reports */

.report-form {
  textarea {
    margin-bottom: 15px;
  }
}
