<div class="row">
  <div class="dropdown sort ml-auto">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <%= link_to "Newest", course_path(sort_by: :newest, course_id: @course.id), class: 'dropdown-item' %>
      <%= link_to "Oldest", course_path(sort_by: :oldest, course_id: @course.id), class: 'dropdown-item' %>
      <%= link_to "Rating (Highest)", course_path(sort_by: :rating_high, course_id: @course.id), class: 'dropdown-item' %>
      <%= link_to "Rating (Lowest)", course_path(sort_by: :rating_low, course_id: @course.id), class: 'dropdown-item' %>
    </div>
  </div>
</div>
