<% if yield(:title) == "Home" && !student? %>

  <div class="container-fluid home-bg">

    <div class="row mb-5">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light" id="home-nav">
          <%= render 'layouts/navbar' %>
        </nav>
      </div>
    </div>

    <div class="home-text row">
      <div class="col offset-md-1 mt-5">
        <h3 class="text-light text-left">Welcome to</h3>
        <h1 class="text-light text-left">The Music Academy</h1>
        <%= form_tag courses_path, method: :get, class: 'home-search my-2 my-lg-0 w-100' do %>
          <%= text_field_tag :search, params[:search], placeholder: 'What would you like to learn?', class: 'form-control w-50' %>
        <% end %>
      </div>
    </div>

    <div class="home-features row h-50 align-items-end">
      <div class="col">
        <h2 class="text-light">
          <ul class="list-inline">
            <li class="list-inline-item">
              <strong>Hundreds of Courses</strong><br>
              <small>with a wide variety of instruments</small>
            </li>
            <li class="list-inline-item">
              <strong>Dozens of Experienced Tutors</strong><br>
              <small>from all around the globe</small>
            </li>
            <li class="list-inline-item">
              <strong>One Course, One Price</strong><br>
              <small>pay once to get it all</small>
            </li>
          </ul>
        </h2>
      </div>
    </div>

  </div>

<% else %>

  <div class="row">
    <div class="col pb-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <%= render 'layouts/navbar' %>
      </nav>
    </div>
  </div>

<% end %>
