<% if yield(:title) == "Home" %>
  <div class="container-fluid  my-bg">
    <div class="row mb-5">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light" id="my-nav">
          <%= render 'layouts/navbar' %>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col mt-5">
        <h1 class="text-light"><strong>Welcome to</strong></h1>
        <h1 class="text-light"><strong>The Music Academy</strong></h1>
        <%= form_tag courses_path, method: :get, class: 'my-2 my-lg-0 w-100' do %>
          <%=
            text_field_tag :search,
              params[:search],
              placeholder: 'What would you like to learn?',
              class: 'form-control w-50 mx-auto'
            %>
        <% end %>
      </div>
    </div>
  </div>


<% else %>

  <div class="row">
    <div class="col pb-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <%= render 'layouts/navbar' %>
      </nav>
    </div>
  </div>

<% end %>
